body {
    background-color: #9f5ca4;
}

.App {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.mainlabel {
    font-weight: bold;
}

.error {
    color: red;
    font-size: 12px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-border {
    border-color: red;
}

.form-group {
    width: 50%;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(223, 170, 255, 0.73);
}
.error-border {
    border-color: red;
}

button {
    color: white;
    background-color: #fd00b7;
}